<aside class="sidebar">
  <div class="user-info">
    <img src="/img/Logonhathuoc.png" alt="" class="logo" />
    <img src="/img/avatar.jpg" alt="Avatar" class="avatar" />
    <p class="ten">Mai Anh Luân</p>
    <a href="/admin/dangxuat" class="dangxuat">Đăng xuất</a>
  </div>
  <nav>
    <ul>
      <li><a href="/admin/add">POS Bán hàng</a></li>
      <li><a href="/admin/quanlysanpham">Quản lý sản phẩm</a></li>
      <li><a href="/admin/quanlykhachhang">Quản lý khách hàng</a></li>
      <li><a href="/admin/quanlydonhang">Quản lý đơn hàng</a></li>
      <li> <a href="/admin/thongke">Thống kê </a></li>
    </ul>
  </nav>
</aside>