<aside class="sidebar">
  <div class="user-info">
    <img src="/img/Logonhathuoc.png" alt="" class="logo" />
    <img src="/img/avatar.jpg" alt="Avatar" class="avatar" />
    <p class="ten">Mai Anh Luân</p>
    <a href="/admin/dangxuat" class="dangxuat">ログアウト</a>
  </div>
  <nav>
    <ul>
      <li><a href="/admin/add">POS販売</a></li>
      <li><a href="/admin/quanlysanpham">商品管理</a></li>
      <li><a href="/admin/quanlykhachhang">顧客管理</a></li>
      <li><a href="/admin/quanlydonhang">注文管理</a></li>
      <li> <a href="/admin/thongke">統計</a></li>
    </ul>
  </nav>
</aside>