<aside class="sidebar">
  <div class="user-info">
    <img src="/img/Logonhathuoc.png" alt="" class="logo" />
    <img src="/img/avatar.jpg" alt="Avatar" class="avatar" />
    <p>Mai Anh Luân</p>
    <span>Chào mừng bạn trở lại</span>
  </div>
  <nav>
    <ul>
      <li><a href="/admin/add">POS Bán hàng</a></li>
      <li><a href="/admin/quanlysanpham">Quản lý sản phẩm</a></li>
      <li><a href="/admin/quanlykhachhang">Quản lý khách hàng</a></li>
      <li><a href="/admin/quanlynhanvien">Quản lý nhân viên</a></li>
      <li><a href="/admin/quanlydonhang">Quản lý đơn hàng</a></li>
      <li> <a href="/admin/baocaodoanhthu">Báo cáo doanh thu</a></li>
    </ul>
  </nav>
</aside>