<section class="end">
  <div class="end-container">
    <div class="end-box1 end-box">
      <h1>Pharmacityについて</h1>
      <div>会社紹介</div>
      <div>店舗一覧</div>
      <div>営業許可証</div>
      <div>運営規約</div>
      <div>返品・保証ポリシー</div>
      <div>配送ポリシー</div>
      <div>プライバシーポリシー</div>
      <div>個人データ保護ポリシー</div>
      <div>お支払いポリシー</div>
      <div>会員カードプログラム規約</div>
      <div>よくある質問</div>
      <div>サイトマップ</div>
      <div>病院</div>
    </div>
    <div class="end-box2 end-box">
      <h1>カテゴリー</h1>
      <div>医薬品</div>
      <div>病気検索</div>
      <div>サプリメント</div>
      <div>パーソナルケア</div>
      <div>ママ＆ベビー</div>
      <div>ビューティーケア</div>
      <div>医療機器</div>
      <div>日用品</div>
      <div>法人向け</div>
      <div>Pharmacityブランド</div>
      <div>HOTキャンペーン</div>
      <div>健康コーナー</div>
      <div>健康管理</div>
    </div>
    <div class="end-box3 end-box">
      <h1>フリーダイヤル</h1>
      <div>
        <div>注文サポート</div>
        <div>
          <div>1800 6821</div>
          <div class="nhanh">（内線1）</div>
        </div>
      </div>
      <div>
        <div>薬局情報・キャンペーン</div>
        <div>
          <div>1800 6821</div>
          <div class="nhanh">（内線1）</div>
        </div>
      </div>
      <div>
        <div>苦情・ご意見</div>
        <div>
          <div>1800 6821</div>
          <div class="nhanh">（内線2）</div>
        </div>
      </div>
      <div>
        <h1>言語</h1>
        <div>
          <img src="/img/VietNam.png" alt="" />
          <div>ベトナム語</div>
        </div>
      </div>
    </div>
    <div class="end-box4 end-box">
      <h1>フォローする</h1>
      <div>
        
          href="https://www.facebook.com/PharmacityVN"
          class="thea"
          target="_blank"
        >
          <img src="/img/facebook.svg" alt="" />
          <div class="chu-end">Facebook</div>
        </a>
      </div>
      <div>
        
          href="https://www.youtube.com/channel/UC34rPqjyb_WCq6dMu2khYQA"
          target="_blank"
        >
          <img src="/img/youtube.svg" alt="" />
          <div>Youtube</div>
        </a>
      </div>
      <div class="zalo-end">
        
          href="https://id.zalo.me/account?continue=http%3A%2F%2Fzalo%2Eme%2F1123198001548302988%3Fsrc%3Dqr"
          target="_blank"
        >
          <img src="/img/zalo.svg" alt="" />
          <div>Zalo</div>
        </a>
      </div>
      <div class="chungnhan-container">
        <h1>認証</h1>
        <div>
          <img src="/img/BCT.png" alt="" class="chungnhan" />
          <img src="/img/DMCA.png" alt="" class="chungnhan" />
        </div>
      </div>
      <div class="hotrothanhtoan-end">
        <h1>お支払い方法</h1>
        <div>
          <img src="/img/thanhtoan1.png" alt="" class="thanhtoan" />
          <img src="/img/thanhtoan2.png" alt="" class="thanhtoan" />
          <img src="/img/thanhtoan3.png" alt="" class="thanhtoan" />
          <img src="/img/thanhtoan4.png" alt="" class="thanhtoan" />
          <img src="/img/thanhtoan5.png" alt="" class="thanhtoan" />
        </div>
      </div>
    </div>
    <div class="end-box5 end-box">
      <h1>Pharmacityアプリをダウンロード</h1>
      <div>
        <a href=""><img src="/img/QR.png" alt="" /></a>
        <div>
          
            href="itms-apps://itunes.apple.com/app/apple-store/id1414835869?mt=8"
          ><img src="/img/IOS.png" alt="" /></a>
          
            href="https://play.google.com/store/apps/details?id=com.pharmacity_extracare"
          ><img src="/img/CHPlay.png" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
  <div class="gachchanmax"></div>
  <div class="end-end">
    <div>
      <h1>Pharmacity医薬品株式会社
      </h1>
      <div>本社：248A Nơ Trang Long, P.12, Q.Bình Thạnh, TP.Hồ Chí Minh
        <br />
        電話：1800 6821 - メール：cskh@pharmacity.vn</div>
    </div>
    <div>
      <div>事業登録証明書：0311770883（2012年5月5日にホーチミン市計画投資局より初回発行）
        <br />
        医薬品販売登録証明書：6782/DDKKDDD-ĐNai（2022年4月26日にドンナイ省保健局より発行）</div>
    </div>
  </div>
</section>