<section class="end">
  <div class="end-container">
    <div class="end-box1 end-box">
      <h1>Về Pharmacity</h1>
      <div>Giới thiệu</div>
      <div>Hệ thống cửa hàng</div>
      <div>Giấy phép kinh doanh</div>
      <div>Quy chế hoạt động</div>
      <div>Chính sách đổi trả và bảo hành</div>
      <div>Chính sách giao hàng</div>
      <div>Chính sách bảo mật</div>
      <div>Chính sách bảo vệ dữ liệu cá nhân</div>
      <div>Chính sách thanh toán</div>
      <div>Thể lệ chương trình thẻ thành viên</div>
      <div>Câu hỏi thường gặp</div>
      <div>Sitemap</div>
      <div>Bệnh viện</div>
    </div>
    <div class="end-box2 end-box">
      <h1>Danh mục</h1>
      <div>Thuốc</div>
      <div>Tra cứu bệnh</div>
      <div>Thực phẩm chức năng</div>
      <div>Chăm sóc cá nhân</div>
      <div>Mẹ và Bé</div>
      <div>Chăm sóc sắc đẹp</div>
      <div>Thiết bị y tế</div>
      <div>Sản phẩm tiện lợi</div>
      <div>Doanh nghiệp</div>
      <div>Nhãn hàng Pharmacity</div>
      <div>Khuyến mãi HOT</div>
      <div>Góc sức khỏe</div>
      <div>Chăm sóc sức khỏe</div>
    </div>
    <div class="end-box3 end-box">
      <h1>Tổng đài miễn cước</h1>
      <div>
        <div>Hỗ trợ đặt hàng</div>
        <div>
          <div>1800 6821</div>
          <div class="nhanh">(Nhánh 1)</div>
        </div>
      </div>
      <div>
        <div>Thông tin nhà thuốc, khuyến mãi</div>
        <div>
          <div>1800 6821</div>
          <div class="nhanh">(Nhánh 1)</div>
        </div>
      </div>
      <div>
        <div>Khiếu nại, góp ý</div>
        <div>
          <div>1800 6821</div>
          <div class="nhanh">(Nhánh 2)</div>
        </div>
      </div>
      <div>
        <h1>Ngôn ngữ</h1>
        <div>
          <img src="/img/VietNam.png" alt="" />
          <div>Tiếng Việt</div>
        </div>
      </div>
    </div>
    <div class="end-box4 end-box">
      <h1>Theo dõi chúng tôi trên</h1>
      <div>
        <a
          href="https://www.facebook.com/PharmacityVN"
          class="thea"
          target="_blank"
        >
          <img src="/img/facebook.svg" alt="" />
          <div class="chu-end">Facebook</div>
        </a>
      </div>
      <div>
        <a
          href="https://www.youtube.com/channel/UC34rPqjyb_WCq6dMu2khYQA"
          target="_blank"
        >
          <img src="/img/youtube.svg" alt="" />
          <div>Youtube</div>
        </a>
      </div>
      <div class="zalo-end">
        <a
          href="https://id.zalo.me/account?continue=http%3A%2F%2Fzalo%2Eme%2F1123198001548302988%3Fsrc%3Dqr"
          target="_blank"
        >
          <img src="/img/zalo.svg" alt="" />
          <div>Zalo</div>
        </a>
      </div>
      <div class="chungnhan-container">
        <h1>Chứng nhận bởi</h1>
        <div>
          <img src="/img/BCT.png" alt="" class="chungnhan" />
          <img src="/img/DMCA.png" alt="" class="chungnhan" />
        </div>
      </div>
      <div class="hotrothanhtoan-end">
        <h1>Hỗ trợ thanh toán</h1>
        <div>
          <img src="/img/thanhtoan1.png" alt="" class="thanhtoan" />
          <img src="/img/thanhtoan2.png" alt="" class="thanhtoan" />
          <img src="/img/thanhtoan3.png" alt="" class="thanhtoan" />
          <img src="/img/thanhtoan4.png" alt="" class="thanhtoan" />
          <img src="/img/thanhtoan5.png" alt="" class="thanhtoan" />
        </div>
      </div>
    </div>
    <div class="end-box5 end-box">
      <h1>Tải ứng dụng Pharmacity</h1>
      <div>
        <a href=""><img src="/img/QR.png" alt="" /></a>
        <div>
          <a
            href="itms-apps://itunes.apple.com/app/apple-store/id1414835869?mt=8"
          ><img src="/img/IOS.png" alt="" /></a>
          <a
            href="https://play.google.com/store/apps/details?id=com.pharmacity_extracare"
          ><img src="/img/CHPlay.png" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
  <div class="gachchanmax"></div>
  <div class="end-end">
    <div>
      <h1>Công Ty Cổ Phần Dược Phẩm Pharmacity
      </h1>
      <div>Trụ sở: 248A Nơ Trang Long, P.12, Q.Bình Thạnh, TP.Hồ Chí Minh
        <br />
        Điện thoại: 1800 6821 - Email: cskh@pharmacity.vn</div>
    </div>
    <div>
      <div>GCNDKDN: 0311770883 do sở KH & ĐT TP.HCM cấp lần đầu ngày 05/05/2012.
        <br />
        GCNDDKKDD: 6782/DDKKDDD-ĐNai ngày cấp 26/4/2022 Sở Y Tế Tỉnh Đồng Nai.</div>
    </div>
  </div>
</section>