<section class="end">
  <div class="end-container">
    <div class="end-box1 end-box">
      <h1 data-i18n="footer.about_title">Pharmacityについて</h1>
      <div data-i18n="footer.intro">会社紹介</div>
      <div data-i18n="footer.store_list">店舗一覧</div>
      <div data-i18n="footer.license">営業許可証</div>
      <div data-i18n="footer.terms">運営規約</div>
      <div data-i18n="footer.return_policy">返品・保証ポリシー</div>
      <div data-i18n="footer.delivery_policy">配送ポリシー</div>
      <div data-i18n="footer.privacy_policy">プライバシーポリシー</div>
      <div data-i18n="footer.data_policy">個人データ保護ポリシー</div>
      <div data-i18n="footer.payment_policy">お支払いポリシー</div>
      <div data-i18n="footer.member_terms">会員カードプログラム規約</div>
      <div data-i18n="footer.faq">よくある質問</div>
      <div data-i18n="footer.sitemap">サイトマップ</div>
      <div data-i18n="footer.hospitals">病院</div>
    </div>

    <div class="end-box2 end-box">
      <h1 data-i18n="nav.category">カテゴリー</h1>
      <div data-i18n="menu.medicine">医薬品</div>
      <div data-i18n="menu_extra.disease">病気検索</div>
      <div data-i18n="menu.supplement">サプリメント</div>
      <div data-i18n="menu.personal_care">パーソナルケア</div>
      <div data-i18n="menu.mom_baby">ママ＆ベビー</div>
      <div data-i18n="menu_extra.beauty">ビューティーケア</div>
      <div data-i18n="menu.medical_device">医療機器</div>
      <div data-i18n="menu_extra.general">日用品</div>
      <div data-i18n="menu_extra.corporate">法人向け</div>
      <div data-i18n="menu.brand">Pharmacityブランド</div>
      <div data-i18n="menu_extra.hot_campaign">HOTキャンペーン</div>
      <div data-i18n="menu_extra.health_corner">健康コーナー</div>
      <div data-i18n="menu_extra.health_mgmt">健康管理</div>
    </div>

    <div class="end-box3 end-box">
      <h1 data-i18n="footer.hotline_title">フリーダイヤル</h1>
      <div>
        <div data-i18n="footer.order_support">注文サポート</div>
        <div>
          <div>1800 6821</div>
          <div class="nhanh" data-i18n="footer.ext_1">（内線1）</div>
        </div>
      </div>
      <div>
        <div data-i18n="footer.pharmacy_info">薬局情報・キャンペーン</div>
        <div>
          <div>1800 6821</div>
          <div class="nhanh" data-i18n="footer.ext_1">（内線1）</div>
        </div>
      </div>
      <div>
        <div data-i18n="footer.complaint">苦情・ご意見</div>
        <div>
          <div>1800 6821</div>
          <div class="nhanh" data-i18n="footer.ext_2">（内線2）</div>
        </div>
      </div>
      <div>
        <h1 data-i18n="footer.language">言語</h1>
        <div class="inchua" onclick="changeLanguage('vi')">
          <img src="/img/covietnam.webp" alt="" />
          <div data-i18n="language">Tiếng Việt</div>
        </div>
      </div>
    </div>

    <div class="end-box4 end-box">
      <h1 data-i18n="footer.follow_us">フォローする</h1>
      <div>
        <a
          href="https://www.facebook.com/PharmacityVN"
          class="thea"
          target="_blank"
        >
          <img src="/img/facebook.svg" alt="" />
          <div class="chu-end">Facebook</div>
        </a>
      </div>
      <div>
        <a
          href="https://www.youtube.com/channel/UC34rPqjyb_WCq6dMu2khYQA"
          target="_blank"
        >
          <img src="/img/youtube.svg" alt="" />
          <div>Youtube</div>
        </a>
      </div>
      <div class="zalo-end">
        <a href="https://zalo.me/..." target="_blank">
          <img src="/img/zalo.svg" alt="" />
          <div>Zalo</div>
        </a>
      </div>

      <div class="chungnhan-container">
        <h1 data-i18n="footer.cert">認証</h1>
        <div>
          <img src="/img/BCT.png" alt="" class="chungnhan" />
          <img src="/img/DMCA.png" alt="" class="chungnhan" />
        </div>
      </div>

      <div class="hotrothanhtoan-end">
        <h1 data-i18n="footer.payment_method">お支払い方法</h1>
        <div>
          <img src="/img/thanhtoan1.png" alt="" class="thanhtoan" />
          <img src="/img/thanhtoan2.png" alt="" class="thanhtoan" />
          <img src="/img/thanhtoan3.png" alt="" class="thanhtoan" />
          <img src="/img/thanhtoan4.png" alt="" class="thanhtoan" />
          <img src="/img/thanhtoan5.png" alt="" class="thanhtoan" />
        </div>
      </div>
    </div>

    <div class="end-box5 end-box">
      <h1 data-i18n="footer.download_title">Pharmacityアプリをダウンロード</h1>
      <div>
        <a href=""><img src="/img/QR.png" alt="" /></a>
        <div>
          <a
            href="itms-apps://itunes.apple.com/app/apple-store/id1414835869?mt=8"
          >
            <img src="/img/IOS.png" alt="" />
          </a>
          <a
            href="https://play.google.com/store/apps/details?id=com.pharmacity_extracare"
          >
            <img src="/img/CHPlay.png" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="gachchanmax"></div>

  <div class="end-end">
    <div>
      <h1 data-i18n="legal.company_name">Pharmacity医薬品株式会社</h1>
      <div>
        <span data-i18n="legal.address">本社：248A Nơ Trang Long, P.12, Q.Bình
          Thạnh, TP.Hồ Chí Minh</span>
        <br />
        <span data-i18n="legal.contact">電話：1800 6821 -
          メール：cskh@pharmacity.vn</span>
      </div>
    </div>
    <div>
      <div>
        <span data-i18n="legal.reg_info_1">事業登録証明書：0311770883...</span>
        <br />
        <span
          data-i18n="legal.reg_info_2"
        >医薬品販売登録証明書：6782/DDKKDDD-ĐNai...</span>
      </div>
    </div>
  </div>
</section>