<main class="main">
  <div class="header headeradd">
    <h2 class="ql">Tạo mới sản phẩm</h2>
    <div class="header-actions">
      <button class="btn">+ Thêm nhà cung cấp</button>
      <button class="btn">+ Thêm danh mục</button>
      <button class="btn">+ Thêm tình trạng</button>
    </div>
  </div>
  <form
    class="form"
    method="POST"
    action="/admin/create"
    enctype="multipart/form-data"
  >
    <div class="form-row">
      <input
        type="text"
        class="btn-edit"
        placeholder="Tên sản phẩm"
        name="tensp"
      />
      <input
        type="number"
        class="btn-edit"
        placeholder="Số lượng"
        name="soluong"
      />
      <input
        type="number"
        name="giamgia"
        class="btn-edit"
        placeholder="Giảm giá (%)"
      />
      <div class="container-banchay">
        <input type="checkbox" name="banchay" id="banchay" />
        <label for="banchay" class="banchay">Đang bán chạy</label>
      </div>
    </div>
    <div class="form-row">
      <select name="danhmuc">
        <option value="">-- Chọn danh mục --</option>
        <option value="Kho Hàng">Kho Hàng</option>
        <option value="Săn Deal">Săn Deal</option>
        <option value="Ngàn Deal Hot Tặng Nàng">Ngàn Deal Hot Tặng Nàng</option>
        <option value="Top bán chạy toàn quốc">Top bán chạy toàn quốc</option>
        <option value="Thương hiệu Nhật Bản">Thương hiệu Nhật Bản</option>
      </select>
      <select name="nhacungcap">
        <option value="">-- Chọn nhà cung cấp --</option>
        <option value="Công ty CP Dược Hậu Giang">Công ty CP Dược Hậu Giang</option>
        <option value="Công ty Dược phẩm Traphaco">Công ty Dược phẩm Traphaco</option>
        <option value="Công ty Dược phẩm Sanofi">Công ty Dược phẩm Sanofi</option>
        <option value="Công ty cổ phần Dược Pymepharco">Công ty cổ phần Dược
          Pymepharco</option>
        <option value="Công ty Cổ phần Dược phẩm TV.Pharm">Công ty Cổ phần Dược
          phẩm TV.Pharm</option>
      </select>
      <input
        type="number"
        class="btn-edit"
        placeholder="Giá gốc (VND)"
        name="giagoc"
      />
      <select name="donvi">
        <option value="">-- Chọn đơn vị --</option>
        <option value="Hộp">Hộp</option>
        <option value="Cái">Cái</option>
        <option value="Tuýt">Tuýt</option>
        <option value="Thùng">Thùng</option>
        <option value="Chai">Chai</option>
      </select>
    </div>
    <div class="form-row">
      <label>Ảnh sản phẩm: </label>
      <div class="upload-wrapper">
        <img class="anhhientai" id="preview" src="" style="display:none;" />
        <i class="fa-solid fa-cloud-arrow-up"></i>
        <input
          class="file"
          id="hinhanh"
          accept="image/*"
          type="file"
          name="hinhanh"
        />
      </div>
    </div>
    <div class="form-row">
      <label>Mô tả sản phẩm:</label>
      <textarea rows="8" name="mota"></textarea>
    </div>
    <button class="btn primary" type="submit">Thêm sản phẩm</button>
  </form>
</main>
<script>
  document.addEventListener("DOMContentLoaded", function () { const fileInput =
  document.getElementById("hinhanh"); const preview =
  document.getElementById("preview"); fileInput.addEventListener("change",
  function (event) { const file = event.target.files[0]; if (file) { const
  reader = new FileReader(); reader.onload = function (e) { preview.src =
  e.target.result; preview.style.display = "block"; };
  reader.readAsDataURL(file); } else { preview.src = ""; preview.style.display =
  "none"; } }); });
</script>