<div class="container-user">
  <div class="hienthi-user">
    <div class="bangchon-user">
      <div class="bangchon-user-top">
        <div class="bangchon-user-ten">
          <img src="/img/actidem.avif" alt="" />
          <h1>{{user.hoten}}</h1>
        </div>
        <img src="/img/thevang.png" alt="" />
      </div>
      <div class="bangchon-user-bot">
        <a href="/user/thongtin" class="thanhchon-user">
          <i class="fa-solid fa-user"></i>
          <div>個人情報</div>
        </a>
        <a href="/user/diachinhanhang" class="thanhchon-user">
          <i class="fa-solid fa-location-dot"></i>
          <div>配送先住所</div>
        </a>
        <a href="/user/lichsudonhang" class="thanhchon-user">
          <i class="fa-solid fa-notes-medical"></i>
          <div>注文履歴</div>
        </a>
      </div>
    </div>
    <div class="ctnthongtin-doimk">
      <div class="doimk">
        <div class="doimkcc">
          <a href="/user/thongtin"><i class="fa-solid fa-arrow-left"></i></a>
          <h1 class="title-doimk">メールアドレス更新</h1>
        </div>
      </div>
      <div class="thongtin-doimk">
        <form action="/user/capnhatemail" method="post" class="container-doimk">
          <div>
            確認コード（OTP）がこのメールアドレスに送信され、あなたのメールアドレスであることを確認します
          </div>
          <label for="email">新しいメールアドレス</label>
          <input
            type="email"
            name="email"
            id=""
            placeholder="新しいメールアドレス"
          />
          <button>続ける</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="mauxanhtieuchuan"></div>